h1{color:red;
background-color: black;
}
body{color: white;
background-color: black;
}
h1{text-align: center;
}
p{text-align: center;
}
h2{color: red;
  text-align: center;
}
h1 {
  font-family: 'Creepster', cursive;
}
